@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype');
}

.fa {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
}

.fa-feedback:before {
  content: "\e8e0";
}

.fa-edit:before {
  content: "\e8e4";
}

.fa-calendar-check:before {
  content: "\e8d3";
}

.fa-calendar:before {
  content: "\e8d6";
}

.fa-bell:before {
  content: "\e8cd";
}

.fa-check-circle:before {
  content: "\e8d9";
}

.fa-check:before {
  content: "\e8da";
}

.fa-circle:before {
  content: "\e8dc";
}

.fa-clock-o:before {
  content: "\e8db";
}

.fa-chevron-right:before {
  content: "\e8dd";
}

.fa-setting:before {
  content: "\e8de";
}

.fa-eye-slash:before {
  content: "\e8e5";
}

.fa-eye:before {
  content: "\e8e6";
}

.fa-history:before {
  content: "\e8f9";
}

.fa-pause:before {
  content: "\e906";
}

.fa-plus:before {
  content: "\e907";
}

.fa-play:before {
  content: "\e908";
}

.fa-help:before {
  content: "\e90b";
}

.fa-sign-in:before {
  content: "\e914";
}

.fa-stop:before {
  content: "\e91e";
}

.fa-times-circle:before {
  content: "\e924";
}

.fa-trash:before {
  content: "\e926";
}

.fa-user:before {
  content: "\e92d";
}

.fa-wechat:before {
  content: "\e932";
}
.fa-weixin:before {
  content: "\e932";
}